/* #region GLOBAL STYLES */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p, {
    margin: 0;
}

ul,ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

a {
  text-decoration: none;
}

button {
    color: #fff;
    font-family: inherit;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* #region header */

.page-header {
    border-bottom:  1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {    
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5; }

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.logo-part-dark {
    color: #4d5ae5;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-item {}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-item {}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.header-logo .logo-part-dark {
    color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.nav-link:active,
.contacts-link:active {
    text-decoration: underline;
}
/* #endregion header */


/* #region hero */

.hero {
    background-color: #2e2f42;
    color:  #f4f4fd;
    width: 100%;
    padding: 188px 0
}

.hero-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 48px;
    text-align: center;
    /* padding: 188px 0; */
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    text-align: center;
    margin: auto 0;
    
}

.hero-btn {   
    display: block; 
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em; 
    color: #fff;
    border: none;
    min-width: 169px;
    border-radius: 4px;
    padding: 16px 32px;
    height: 56px;
    
}

.hero-btn:hover,
.hero-btn:focus {
    background: #404BBF;
}

/* #endregion hero */



.team-title,
.features-title,
.portfolio-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
}

/* #region feauture */

.features {
    padding: 120px 0;
}

.features-container {
    display: flex;
    justify-content: space-between;
    max-width: 1158px;
}

.features-subtitle {
    margin-bottom: 8px;
}

.feautures-list {
    display: flex;
    gap: 24px;
    max-width: 1128px;
    justify-content: center;
}

.features-item {
    width: calc((100% - 72px) / 4);
    
}

.features-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    /* margin: 0; */
    margin-bottom: 8px;

}

.features-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

/* #endregion feauture */

/* #region team  */

.team {
    background: #f4f4fd;
}

.container-team {
    margin: auto;
}

.team-title {
    margin-bottom: 72px;
}

.team-item {
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
}

.team-item-content {
    padding: 32px 0;
}

.team-subtype, 
.portfolio-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-subtype {
    text-align: center;
    margin-bottom: 8px;
}

.team-text,
.portfolio-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-text {
    text-align: center;
}

.team-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px 
}



/* #endregion team  */

/* #region portfolio  */

.portfolio {}

.portfolio-title {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.portfolio-text-block {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
    width: 360px;
    margin-bottom: 8px;
}

.portfolio-ill {
}

.portfolio-subtitle {
    margin-bottom: 8px
}

.portfolio-text {}



/* #endregion portfolio  */

/* #region footer */.

section {
    
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}


.container {}
    

.footer-content {
    max-width: 264px;
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    font-weight: 400;
    margin-left: 100px;
 }

.footer-logo-link {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-part-light {
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px
}